version: "3"

services:
  mastodon-gemini-chat:
    build: .
    container_name: mastodon-gemini-chat
    restart: unless-stopped
    env_file:
      - .env
    environment:
      DEBUG: "@langchain/mcp-adapters:*"
    volumes:
      - ./src:/app/src
      - ./index.js:/app/index.js
      - ./.env:/app/.env
      - ./data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock
